.pageContainer{
	min-height: 100%;
	min-width: 100%;
	background-color: #e5e5e5;
}

.sectionContainer{
	min-height: 100%;
	min-width: 100%;
	height: 100vh;
}

.gridContainer{
	width: 1170px;
	margin: auto;
	position: relative;
	height: 100vh;
/* 	background-color: #222; */
}



/* ----- SPECIFIC SECTIONS ----- */



// INTRO SECTION

/*
.sectionOne, .sectionIntro{
	background-color: black;
	height: 100vh;
}

.gridOne, .gridIntro{
	height: 100vh;
	position: relative;
}
*/

.introOne{
	display: block;
	width: 430px;
	position: relative;
	top: 42%;

}


// THIS NEEDS TO CHANGE!
.introTwo{
	position: relative;
	margin: 0 auto;
	bottom: 0;
	transform: translateY(-50%);
	top: 70%;
}





// FEED SECTION

.sectionTwo, .sectionVideo{
/* 	background-color: black; */
	height: 100vh;
	background-color: #000;
}

.gridOne, .gridIntro{
	height: 100vh;
	position: relative;
}

.sectionTwo{
	position: relative;
	z-index: 10;
}

.gridTwo{
	position: relative;
	z-index: 10;
}

.sectionThree{
	position: relative;
}

.feedOne{
	margin-left: 130px;
	width: 370px;
	padding: 25% 0;
	float: left;
	z-index: 10;
	position: relative;
}

.feedTwo{
	width: 560px;
	float: right;
}

.feedImg{
	width: 800px;
	z-index: 2;
	position: absolute;
	right: 0;
	top: -30%;
}

.sectionFour{
	background-color: #ccc;
	z-index: 10;
	position: relative;
	
	.gridFour{
		.profileOne{
			.profileImg{
				width: 800px;
				z-index: 0;
				position: absolute;
				left: 0;
				top: 10%;
			}
		}
		.profileTwo{
			padding: 25% 0;
			color: $black;
			float: right;
			z-index: 10;
			position: relative;
			width: 370px;
			margin-right: 130px;

		}
	}
}


.sectionFive{
	.gridFive{
		.createOne{
			margin-left: 130px;
			width: 370px;
			padding: 25% 0;
			float: left;
			z-index: 10;
			position: relative;
		}
		.createTwo{
			.createImg{
				width: 600px;
				z-index: 0;
				position: absolute;
				right: 0;
				top: 20%;
			}
		}
	}
}

.sectionSix{
	background-color: #ccc;
	.gridSix{
		.siteOne{
			
		}
		.siteTwo{
			padding: 25% 0;
			color: $black;
			float: right;
			z-index: 10;
			position: relative;
			width: 370px;
			margin-right: 130px;

		}
	}
}

.sectionSeven{
	background-image: url('../images/sectionFooter-bgimg.jpg');
	border-top: 5px #b2b2b2;
	.gridSeven{
		height: auto;
		bottom: 0;
		padding: 100px;
		color: white;
		.footerOne{
			text-align: center;
			width: 570px;
			margin: auto;
		}
	}
	.whiteBorder{
		border-top: 1px white solid;
		.gridSeven{
			.footerTwo{
				display: block;
				margin: auto;
				.footerLogo{
					display: block;
					width: 108px;
					height: inherit;
					margin: auto;
				}
				.footerh{
					font-size: 13px;
					text-align: center;
					margin-bottom: 10px;
				}
			}
		}
	}
}