.backgroundImage{
	background-size: cover;
	background-position:center;
}

.logo{
	display: block;
	width: 14em;
	padding-bottom: 1em;
	/*
position: relative;
	top: 50%;
	transform: translateY(-50%);
*/
}

.downArrow{
	padding-top: 1em;
	display: block;
	margin: auto;
	cursor: pointer;
	transition: -webkit-transform 1s ease;

}

.downArrow:hover{
	-webkit-transform: translate(0, .5em);
	opacity: .75;
}

.sectionOne, .sectionIntro{
	background-image: url('../images/sonder2.jpg');
}

.transparentColor{
	background-color: #000;
	opacity: .7;
}

iframe{
	width: 100%;
	height: inherit;
	padding: 7em;
}

