h1{
	font-family: $chronicle;
	font-weight: bold;
	font-style: italic;
	text-transform: none;
	font-size: 2em;
	margin-bottom: .5em;
}

h2{
	font-family: $gotham;
	font-weight: $gothamweight;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: 1em;
	color: $white;
	text-align: left;
	line-height: 1em;
}

h5{
	font-family: $gotham;
	font-weight: $gothamweight;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: 0.813em;
	color: $white;
	text-align: center;	
}

p{
	font-family: $gotham;
	font-weight: $gothamweight;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1em;
}

a{
	text-decoration: none;
	display: inline;
	font-size: .75em;
	h2{
		color: $black;
	}
}

a:hover{
		opacity: .5;
	}
	
	
.profileOne{
	color: white;
}