---
title: Sonder App
---

<!-- Start Page Content -->

<div class="sectionContainer sectionOne sectionIntro backgroundImage">
	<div class="gridContainer gridOne gridIntro">
		<div class="introOne">
			<img src="../images/sonder-logo.svg" alt="Sonder Logo" class="logo">
			<h2>listen in<!--  & discover the people around you --></h2>
		</div>
		<div class="introTwo">
			<h5>explore the sonder app</h5>
			<img src="../images/down-arrow.svg" alt="Down Arrow" class="downArrow">
		</div>
	</div>
</div>


<div class="sectionContainer sectionTwo sectionFeed backgroundImage">
	<div class="gridContainer gridTwo gridFeed">
	</div>
</div>

<div class="sectionContainer sectionThree sectionCreate backgroundImage">
	<div class="gridContainer gridThree gridCreate">
	</div>
</div>

<div class="sectionContainer sectionFour sectionSite backgroundImage">
	<div class="gridContainer gridFour gridSite">
	</div>
</div>

<div class="sectionContainer sectionFive sectionFooter backgroundImage">
	<div class="gridContainer gridFive gridFooter">
	</div>
</div>



















<!-- End Page Content -->