---
title: Sonder App
---

<!-- Start Page Content -->

<div class="sectionContainer sectionOne sectionIntro backgroundImage">
<!-- 	<div class="transparentColor"> -->
		<div class="gridContainer gridOne gridIntro">
			<div class="introOne">
				<img src="../images/sonder-logo.svg" alt="Sonder Logo" class="logo">
				<h2>listen in & discover the people around you</h2>
			</div>
			<div class="introTwo">
				<h5>explore the sonder app</h5>
				<img src="../images/down-arrow.svg" alt="Down Arrow" class="downArrow">
			</div>
		</div>
<!-- 	</div> -->
</div>


<div class="sectionContainer sectionTwo sectionVideo backgroundImage">
	<div class="gridContainer gridTwo gridVideo">
		<iframe width="560" height="315" src="//www.youtube.com/embed/zLKpwsCbOOY" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<div class="sectionContainer sectionThree sectionFeed backgroundImage">
	<div class="gridContainer gridThree gridFeed">
		<div class="feedOne">
			<h1>Mobile Feed</h1>
			<p>Swipe through photo + audio posts of people you follow or a global feed. Like and follow users to control the content you're listening to in your feed.</p>
			<a href="http://www.youtube.com/watch?v=an9uK-6fx18">
				<h2>Watch demo ></h2>
			</a>
		</div>
		<div class="feedTwo">
			<img src="../images/sonder_feed.jpg" alt="Sonder Mobile Feed" class="feedImg">
		</div>
	</div>
</div>

<div class="sectionContainer sectionFour sectionProfile backgroundImage">
	<div class="gridContainer gridFour gridProfile">
		<div class="profileOne">
			<img src="../images/sonder_profile.png" alt="Sonder Mobile Profile" class="profileImg">
		</div>
		<div class="profileTwo">
			<h1>Profiles</h1>
			<p>Sonder gives you the ability to follow & find users who have common interests. View their posts by location or image.</p>
		</div>
	</div>
</div>

<div class="sectionContainer sectionFive sectionCreate backgroundImage">
	<div class="gridContainer gridFive gridCreate">
		<div class="createOne">
			<h1>Create</h1>
			<p>Take on-the-spot photos and record your voice caption before publishing your creation to the world.</p>
		</div>
		<div class="createTwo">
			<img src="../images/sonder_create.png" alt="Sonder Mobile Create" class="createImg">
		</div>
	</div>
</div>

<div class="sectionContainer sectionSix sectionSite backgroundImage">
	<div class="gridContainer gridSix gridSite">
		<div class="siteOne">
			<img src="../images/sonder_site2.png" alt="Sonder Desktop Webstie" class="siteImg">

		</div>
		<div class="siteTwo">
			<h1>Sonder.io</h1>
			<p><!-- Experience the minimal look on the Sonder desktop website. Discover user creations through .  -->Scroll through Sonder's desktop website to experience creations one by one in a sleek, minimal style.</p>
		</div>
	</div>
</div>

<div class="sectionSeven sectionFooter backgroundImage">
	<div class="gridContainer gridSeven gridFooter">
		<div class="footerOne">
			<h1>We’re excited to share the world of Sonder with you.</h1>
			<p>Development of Sonder isn’t completed yet, but you can keep in track of our progress through our newsletter and blog.</p>
		</div>
	</div>
	<div class="whiteBorder">
		<div class="gridContainer gridSeven gridFooter">	
			<img src="../images/sonder-logo.svg" alt="Sonder Logo" class="footerLogo">
			<h2 class="footerh">Listen in</h2>
			<h6>© 2014 ROMEO SALAZAR </h6>
		</div>
	</div>
</div>

















<!-- End Page Content -->